/* EditarCadastro.css */

body {
  background-color: #f4f4f4; /* Cor de fundo suave */
  font-family: Arial, sans-serif; /* Fonte mais legível */
}

.editar-container {
  max-width: 600px; /* Largura máxima do container */
  margin: 50px auto; /* Centraliza o container verticalmente */
  padding: 100px; /* Espaçamento interno */
  background-color: white; /* Cor de fundo do container */
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center; /* Centraliza o texto */
}

h1 {
  color: #e63946; /* Vermelho para o título */
  margin-bottom: 30px; /* Espaçamento inferior do título */
}

.button-group {
  display: flex; /* Usar flexbox para o alinhamento */
  justify-content: space-around; /* Espaçamento igual entre os botões */
  margin-top: 20px; /* Espaçamento superior */
}

button {
  display: flex; /* Usar flexbox para o alinhamento do conteúdo do botão */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  background-color: #e63946; /* Vermelho para o fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove borda padrão */
  border-radius: 5px; /* Cantos arredondados */
  padding: 15px 20px; /* Espaçamento interno */
  cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave para a cor do fundo */
  width: 150px; /* Largura fixa dos botões */
  position: relative; /* Para o posicionamento do ícone */
}

button:hover {
  background-color: #d62839; /* Cor de fundo ao passar o mouse */
}

.button-icon {
  width: 24px; /* Largura do ícone */
  height: 24px; /* Altura do ícone */
  margin: 0 10px; /* Margem lateral dos ícones */
  padding: auto;
}

@media (max-width: 768px) {
  .button-group {
      flex-direction: column; /* Muda a direção dos botões em telas pequenas */
      align-items: center; /* Centraliza os botões horizontalmente */
  }

  button {
      width: 100%; /* Botões ocupam 100% da largura */
      margin: 10px 0; /* Margem vertical entre os botões */
  }
}

/* Estilo de texto e fundo adicional */
p {
  color: #333; /* Cor do texto padrão */
}

.footer {
  background-color: #333; /* Fundo do rodapé */
  color: white; /* Texto branco no rodapé */
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
