/* TelaInicio.css */

/* Estilo para a Navbar principal */
.navbar {
    background-color: #000 !important; /* Fundo preto */
}

.navbar-brand img {
    height: 50px;
}

.navbar .nav-link {
    color: #fff !important; /* Texto branco */
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #ff4d4d !important; /* Vermelho claro no hover */
}

/* Fundo de página com degradê de vermelho para branco */
body {
    background: linear-gradient(to bottom, #ff0000, #ffffff);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para botões */
button, .btn, .nav-link {
    background-color: #ff0000 !important; /* Fundo vermelho */
    color: #fff !important; /* Texto branco */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover, .nav-link:hover {
    background-color: #cc0000 !important; /* Vermelho mais escuro no hover */
}

/* Estilo para todos os títulos h1 até h6 */
h1, h2, h3, h4, h5, h6 {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    padding: 10px;
    margin: 10px 0;
}
