/* styles.css */
body {
  background: linear-gradient(to right, rgb(97, 96, 96), rgb(255, 255, 255)); /* Degradê do preto para o vermelho */
  font-family: Arial, sans-serif;
  color: white; /* Cor do texto para contraste */
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: black; /* Cor do link preta */
  text-decoration: none; /* Remove o sublinhado */
}

a:hover {
  color: rgb(0, 0, 0); /* Cor do link ao passar o mouse, se desejar */
}
